framework: auto-detect

source https://nuget.org/api/v2

nuget FSharp.Core
nuget Argu

nuget Expecto
nuget Expecto.BenchmarkDotNet
nuget Expecto.FsCheck
nuget Expecto.VisualStudio.TestAdapter version_in_path: true
nuget FSharp.Plotly
nuget FSharp.Stats ~> 0.3.0-beta

git https://github.com/CSBiology/FSharpAux.git nuget Packages: /

nuget FSharpAux
nuget FSharpAux.IO




git https://github.com/CSBiology/BioFSharp.git nuget Packages: /

nuget BioFSharp
nuget BioFSharp.IO

nuget System.Data.SQLite ~> 1.0.112.2
nuget System.Data.SQLite.Core ~> 1.0.112.2

group Formatting
storage: local
source https://nuget.org/api/v2
source https://ci.appveyor.com/nuget/fsharp-formatting
	

nuget FSharp.Formatting ~> 3.0.0-beta01
nuget FSharp.Formatting.CommandTool ~> 3.0.0-beta01




